{% load bootstrap_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="fa">
    <meta charset="UTF-8">
    <title>معلم جدید</title>
    <link rel="stylesheet" href="http://ifont.ir/apicode/39">
    <link rel="stylesheet" href="http://ifont.ir/apicode/21">
    <link rel="stylesheet" href="{% static 'css/teacher_style.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
</head>
<body dir="rtl">
    <form action="" method="post">
        {% csrf_token %}
        <legend>اطلاعات کاربری</legend>
        {{ form|as_bootstrap }}
       <legend>اطلاعات شخصی</legend>
        {{ form1|as_bootstrap }}
        <div class="form-actions">
      <button type="submit" class="btn btn-primary">ثبت نام</button>
    </div>
    </form>
</body>
</html>