<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>آرا</title>
</head>
<body dir="rtl">
    {% if user.is_authenticated %}
        <p> سلام
            {{ user.username }}</p>
        <a href="{% url 'logout_page' %}">خروج</a><br>
    {% else %}
        <a href="{% url 'login_page' %}">وارد شوید</a>
        <p>یا ثبت نام کنید:</p>
        <a href="{% url 'new_teacher' %}">ثبت نام معلم</a><br>
        <a href="{% url 'new_headmaster' %}">ثبت نام مدیر</a><br>
    {% endif %}

</body>
</html>